body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, legend, button {
  font-family: 'Roboto', sans-serif;
}

.appName {
  font-style: italic; 
  font-weight: bold;
}

.login, .dashboard, .create-tracker, 
.tracker-summary, .chart, 
.profile, .tracker-archive  {
  display: none;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: inline-block; */
}
.marks-container {
  height: 35px;
  outline-color: black;
}

.mark {
  display: inline-block;  /* this makes it into square */
  padding: 10px;
  margin-right: 5px;
  background-color: dodgerblue;
}

.tracker-container {
  outline-color: orangered;
}