body {
  font-family: 'Noto Serif', serif;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

h1, h2, h3, legend, button {
  font-family: 'Roboto', sans-serif;
}

.appName {
  font-style: italic; 
  font-weight: bold;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.login, .dashboard, .create-tracker, 
.tracker-summary, .chart, 
.profile, .tracker-archive  {
  display: none;
}

.mark {
  display: inline;
  background-color: blue;
}