body {
  font-family: "Poppins", sans-serif;
  /* 62.5% makes 1em = 10px */
  /* font-size: 62.5%;  */
}

h1,
h2,
h3,
legend,
button {
  font-family: "Roboto", sans-serif;
}

.app-name {
  font-style: italic;
  font-weight: bold;
}

/* hide sections on render */
.login,
.dashboard,
.create-tracker,
.tracker-summary,
.chart,
.profile,
.tracker-archive {
  display: none;
}

/* padding for main containers */
.dashboard,
.tracker-summary,
.tracker-archive,
.profile {
  padding: 1em;
}

/* navigation  */
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #00bcd4;
  flex-wrap: wrap;
}

.app-name-container {
  display: flex;
  align-items: center;
}

.nav-btn-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* add highlight when clicked */
.nav-btn {
  height: auto;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  white-space: nowrap;
  /* flex-wrap: wrap; */
}

/* for smaller screens */
@media screen and (max-width: 440px) {
  .header-container {
    justify-content: center;
    /* flex-flow: column wrap; */
    /* padding: 0; */
  }
  .nav-btn-container {
    justify-content: space-evenly;
  }

  .nav-btn {
    margin-bottom: 7px;
  }
}

/* .app-name-container,
.nav-btn-container {
  display: flex;
  align-items: center;
}
.nav-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* .app-name,
.nav-btn-container {
  margin: 0;
  padding: 0;
  width: 50%;
} */


h2 {
  font-weight: bold;
  padding: 0.25em;
  background-color: #eceff1;
  text-align: center;
  vertical-align: center;
}

/* dashboard page */
.dashboard-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  /* what applies to the child:  */
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-tracker-container {
  /* flex-grow: 1; */
  /* max-width: 45%; */
  /* min-width: 300px; */
  flex-basis: 75%;
  max-width: 400px;
  margin: 5px;
  padding: 10px;
  border: 1.5px solid #ffd54f;
  border-radius: 3px;
}

/* summary & archive page */
.tracker-container {
  flex-grow: 1;
  max-width: 90%;
  margin: 5px;
  padding: 10px;
  border: 1.5px solid #ffd54f;
  border-radius: 3px;
}

/* this is for 2 columns in summary's tracker container
 test this out to see the screen size */
@media screen and (min-width: 600px) {
  .inner-flexbox {
    display: flex;
  }
  .col-1,
  .col-2 {
    width: 50%;
    /* or min-width? */
  }
}

.tracker-name {
  padding: 0.25em;
  background-color: #eceff1;
  text-align: center;
  vertical-align: center;
  margin-top: 10px;
}

.tracker-month {
  /* color: #008ba3; */
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.summary-sentence {
  font-weight: 200;
  font-size: 16px;
}

.marks-container {
  /* max-width: 50%; */
  /* margin: auto 0; */
  display: flex;
  justify-content: space-between;
  min-height: 35px;
  /* padding: 5px; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .tally-marks {
  display: flex;
  max-width: 200px;
} */

.mark {
  display: inline-block; /* this makes it into square */
  padding: 11px;
  margin-right: 3px;
  background-color: #aed581;
}

.edit-trkr-label {
  display: block;
  text-align: center;
}

.edit-trkr-field {
  height: auto;
  width: 95%; 
  padding: 10px;
  margin: 10px;
  border: 1px solid #7da453;;
  border-radius: 3px;
  background-color: white; 
  font-size: 15px;
} 

.notes-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}

.trkr-sumry-notes {
  resize: none;
  /* margin: 0 auto; */
  width: 95%;
  height: 100px;
  border: 1px solid #7da453;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}

.trkr-btn {
  height: auto;
  font-size: 18px;
  text-align: center;
  background: #eceff1;
  border: 1px solid #008ba3;
  border-radius: 3px;
  cursor: pointer;
  margin: 3px;
  white-space: nowrap;
}

/* make flex container for dashboard & trackers */
/* .dashboard-container, */
.summary-container,
.archive-container {
  display: flex;
  width: 95%;
  margin: 0 auto;
  /* what applies to the child:  */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dashboard-btn-row {
  display: flex;
  /* align-content: flex-end; */
  justify-content: center;
  margin: 25px 0 7px;
}

.summary-btn-row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 5px;
}

.create-form {
  width: 70%;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #ffd54f;
  margin: 0 auto;
}

.new-trkr-label {
  font-size: 18px;
}

.new-trkr-input {
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  border: 2px solid #008ba3;
  border-radius: 3px;
  margin: 10px auto 10px;
  transition: opacity 0.4s;
}

.new-trkr-input:focus {
  border: 3px solid #62efff;
}

::placeholder {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.tracker-notes {
  width: 100%;
}

.form-btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  height: auto;
  margin-right: 5px;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;

}

.footer {
  padding: 0.25em;
  text-align: center;
  background-color: #00bcd4;
}