body {
  font-family: 'Poppins', sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1498575207492-cfbed56146c0?auto=format&fit=crop&w=2602&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

h1, h2, legend, button {
  font-family: 'Roboto', sans-serif;
}

.app-name {
  font-style: italic; 
  font-weight: bold;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #00bcd4;
  flex-wrap: wrap;
}

.app-name-container, .nav-btn-container {
  display: flex;
  align-items: center;
}

.nav-btn {
  white-space: nowrap;
}

/* add media query to change justify-content: center when screen is small */

.landing-page {
  padding: 1em;
}

.intro-container {
  margin: 0 auto;
  width: 85%;
}

h2 {
  padding: .25em;
  background-color: #eceff1;
  text-align: center;
  vertical-align: center;
}

.intro {
  text-align: justify;
} 

fieldset {
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
}

.signup-form {
  width: 65%;
  padding: 1em;
  border-radius: .5em;
  background-color: #ffd54f; 
  margin: 0 auto;
}

legend {
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  margin: 0 auto 1em;
  /* background-color: #eceff1; */
}

label {
  font-size: 18px;
  text-align: center;
}

input {
  /* display: block; */
  width: 95%;
  height: auto;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  border: 2px solid #008ba3;
  border-radius: 3px;
  /* background: #fcfcfc; */
  margin: 10px auto 10px;
  transition: opacity 0.4s;
}

input:focus {
  border: 3px solid #62efff
}

::placeholder {
  font-size: 15px;
  text-align: center;
  /* font-style: italic; */
}

.form-btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: auto;
  font-size: 18px;
  /* font-weight: 500; */
  text-align: center;
  background: #ffffff;
  border: 0;
  border-radius: 3px;  
  cursor: pointer;
  margin-right: 5px;
}

.already-signedup {
  text-align: center;
}

/* add yellow highlight when hover */
.nav-button {
  
}

.footer {
  padding: .25em;
  text-align: center;
  background-color: #00bcd4
}
